//colors

//black
$black1 : #1A1A1D;
$black2 :#4E4E50;
$black3 :rgb(103, 103, 110);


//white
$white1:rgb(255, 242, 242);
$white2:rgb(245, 226, 226);


//red
$red1 : #6F2232;
$red2 : #950749;
$red3: #C3073F;
$red4: rgb(228, 38, 95);
$red10: rgb(255, 79, 117);



