//colors

//black
$black1 : #1A1A1D;
$black2 :#4E4E50;
$black3 :rgb(103, 103, 110);


//white
$white1:rgb(255, 242, 242);
$white2:rgb(245, 226, 226);
$white3:rgb(235, 225, 225);
$white5r:rgb(255, 218, 218);



//red
$red1d : rgb(78, 19, 31);
$red1 : #6F2232;
$red2 : #950749;
$red3: #C3073F;
$red3o: rgba(209, 30, 75, 0.842);

$red4: rgb(228, 38, 95);
$red10: rgb(255, 79, 117);

//yellow
$yellow1 :rgb(255, 239, 203);
$yellow2 :rgb(251, 198, 74);


//green 
$green1:rgb(200, 255, 232);
$green2:rgb(111, 236, 184);
$green3:rgb(51, 179, 115);
$green4:rgb(22, 122, 47);



//blue
$blue1 :rgb(198, 239, 255);
$blue2 :rgb(54, 133, 197);
$blue3 :rgb(24, 132, 175);
