/* 
#242582
#553D67
#F64C72
#99738E
#2F2FA2
 */
 html{
     height: 100%;
 }
body{
    background: linear-gradient(to bottom, white,rgba(85, 61, 103, 0.534));
    height: 100%;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242582;
    color: white;
}
.header__title{
    font-size: 30rem;
}
.form {
    display: flex;
    flex-direction: column;
}
.table {
    display : flex;
    justify-content: space-around;
}

.table__column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1rem solid black;
}
.table__column h1 {
    border-bottom: 1rem solid black;
    text-align: center;
    font-weight: 600;
}

.table__column__items{
    display: flex;
    flex-direction: column;
}


