html{
    --theme : 0;
    --theme-10 : 350;
    --theme-20 : 340;

    //layout
    //landing-page
    --land-pg-bg-clr : hsl(185,40%,50%);
    --land-pg-title-bg-clr : hsl(185,50%,40%);
    
    //header
    --header-bg-clr : hsl(var(--theme-10),20%,10%);
    --header-logo-clr : hsl(var(--theme-10),90%,60%);
    --header-text-clr : hsl(var(--theme-10),20%,90%);
    --header-menu-bg-clr : hsl(var(--theme-10),60%,20%);

    //date
    --date-bg-clr : hsl(var(--theme-10),45%,40%);

    //forms
    --form--bg-clr : hsl(var(--theme-10),50%,30%);
    
    //search-form

    //todo-form
    --todoform-title-bg-clr : hsl(var(--theme-10),65%,20%);
    --todoform-selcet-bg-clr : hsl(var(--theme-10),20%,10%);
    --todoform-input-bg-clr : hsl(var(--theme-10),20%,13%);
    --todoform-submit-btn-bg-clr : hsl(var(--theme-10),70%,45%);



    //main todo
    --list-selcet-bg-clr : hsl(var(--theme-10),20%,10%);

    //footer
    --footer-bg-clr : hsl(var(--theme-10),20%,10%);


    --bg--todo-list-title : hsl(0,0%,0%);
    --bg-clr--todo-list-title : hsl(0,20%, 80%);
    --bg--todo-list-item : hsl(0,50%,10%);
    --bg-clr--todo-list-item : hsl(0,20%,95%);
    --todo-list-item-trash : hsl(0,90%,60%);
    --todo-list-item-edit : hsl(30,95%,60%);


}

html[data-theme='light']{
    filter: invert(2)
    contrast(0.9)
    hue-rotate(55deg)
    saturate(0.7) !important; 
}

