//colors

//black
$black1 : #1A1A1D;
$black2 :#4E4E50;

//white
$white1:rgb(255, 242, 242);
$white2:rgb(245, 226, 226);

//red
$red1 : #6F2232;
$red4: rgb(228, 38, 95);



html{
  //layout
    //popup
    --popup-bg-clr : hsl(150, 45%, 90%);
    --popup-clr : hsl(0, 10%, 10%);
    --popup--title-bg-clr : hsl(185,50%,40%);
    --popup-pg-title-bg-clr : hsl(185,50%,40%);

    //main-flex
    //main-content
    //header
    --header-bg-clr : hsl(var(--theme-10),20%,10%);
    --header-logo-clr : hsl(var(--theme-10),90%,60%);
    --header-text-clr : hsl(var(--theme-10),20%,90%);
    --header-menu-bg-clr : hsl(var(--theme-10),60%,20%);

    //date
    --date-bg-clr : hsl(var(--theme-10),45%,40%);

    //forms
    --form--bg-clr : hsl(var(--theme-10),50%,30%);
    
    //search-form

    //todo-form
    --todoform-title-bg-clr : hsl(var(--theme-10),65%,20%);
    --todoform-selcet-bg-clr : hsl(var(--theme-10),20%,10%);
    --todoform-input-bg-clr : hsl(var(--theme-10),20%,13%);
    --todoform-submit-btn-bg-clr : hsl(var(--theme-10),70%,45%);



    //main todo
    --list-selcet-bg-clr : hsl(var(--theme-10),20%,15%);

    //footer
    --footer-bg-clr : hsl(var(--theme-10),20%,10%);


}
  