@import "./reseters/resets";

//components
@import "./components/components";

//layout
@import "./layout/layout";



html {
    min-height: 100%;
    height: max-content;
  }
  
  body,.main-flex {
    min-height: 100vh;
    height: 100%;
  }
  