.main-content-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--date-bg-clr);
  color: $white2;
  padding: 1em;
  &-title {
    font-size: 1.4em;
    font-weight: bold;
    flex-grow: 2;
    color: $white2;
  }
  &-placeHolder {
    padding-right: 0.5em;
  }
}
