.main-footer{
    position: fixed;
    bottom: 0;
    background-color: var(--footer-bg-clr);
    color: $white2;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    padding: 0.3em;
    margin-top: 1em;
    &-text-info{
        padding:0 0.2em;
    }
    .footer-icon{
        &:hover{
            transform: scale(1.05);
            cursor: pointer;
        }
    }
}

