//comon style
.main-content-forms {
  display: flex;
  flex-direction: column;
  background-color: var(--form--bg-clr);

  padding-bottom: 1em;

  &-searchForm {
    @include perfectCenteringFlex(row);
    display: none;
    width: 100%;
    align-items: center;
    #search-input {
      text-align: center;
      width: 100%;
      padding: 0.5em 2em;
      line-height: 1.5;
      box-shadow: 0px 7px 10px -7px $black1;
      &:focus {
        font-size: 1.2em;
      }
    }
  }
  &-todoForm {
    @include perfectCenteringFlex(column);
    color: $white1;
    display: none;
    align-items: center;

    &-titleLabel{
      background-color: var(--todoform-title-bg-clr);
      text-align: center;
      width: 100%;
      padding: 0.3em;
      color: hsl(0,40%,85%);
      font-weight: bold;
      font-size: 1.2em;
    }
    #todoForm-title-input {
      text-align: center;
      outline: none;
      background-color: var(--todoform-input-bg-clr);
      box-shadow: 0px 7px 10px -7px $black1;
      line-height: 1.5em;
      border-radius: 0.4em;
      padding: 0.3em;
      margin: 0.8em;
      &::placeholder{
        color: $white2;
      }
      &:focus {
        transform: scale(1.05);
        filter: saturate(1.5);
        color: hsl(0,80%,75%);
      }
    }
      &-selector {
        width: 10%;
        opacity: 0.8;
        margin: 0.2em 0;
        padding: 0.4em 0;
        border-radius: 0.4em;
        text-align: center;
        &-label{
          padding-right: 0.3em;
          border-radius: 0.4em;
          color: hsl(0,30%,95%);
        }
        
        #todoForm-priority-select {
          background-color: var(--todoform-selcet-bg-clr);
          opacity: 1;
          color: $white1;
          padding: 0.2em;
          border-radius: 0.4em;
          &:hover{
            cursor: pointer;
          }
        }
        &-option {
          background-color: $black2;
          color: hsl(0,50%,85%);
        }
       
      }
    
  }
  #todoForm-submit-button {
    padding: 0.5em;
    margin: 0.5em;
    background-color: var(--todoform-submit-btn-bg-clr);
    opacity: 0.6;
    box-shadow: 0px 7px 10px -7px $black1;
    transition-property: opacity;
    &:hover{
      opacity: 1;
    }
  }
}
//only mobile
@media #{$break1} {
  //mobile and tablet and desktop
}

// tablet and desktop
@media #{$break2},#{$break3} {
  
}
//only tablet

@media #{$break2} {
  .main-content-forms-todoForm {
    border-bottom: 7px solid darken($red1, 2);
  }
}

//only desktop
@media #{$break3} {
}


// input{
//     text-align: center;
//     outline: none;
//     &:focus{
//         font-size: 1em;
//         color: $black2;
//         font-weight: bold;
//     }
// }