//comon style


.main-header {
  @include flexCenter(column);
  position: sticky; width: 100%; top: 0;
  background-color: $black1; color: $white1;
  z-index: 1;
    &-navbar{
    display: flex; flex-direction: row; justify-content: space-between; width: 100%;
      &-logo{
        display: flex; align-items: center;
        .fa-suse {
          color: $red4; padding-right: 0.5em;
        }
      }
      .header-icon{
        opacity: 0.9;
        &:hover {
          opacity: 1;
          cursor: pointer;
          transform: scale(1.05);
        }
      }
      
    }
    &-navbar-menu {
      justify-content: space-around; align-items: center;
      width: 100%;
      background-color: $red1d;box-shadow: 0px 7px 12px -8px $black1;
      #navbar-sort-button{
        font-weight: normal;
        font-size: 0.9em;
      }
      .navbar-menu-icon {
        color: $white2;
        padding: 0.5em;
        &:hover {
          cursor: pointer;
          transform: scale(1.05);
          color: $white1;
        }
      }
    }
}



//only mobile
@media #{$break1} {
}

//only mobile and tablet
@media  #{$break1}, #{$break2} {
  .main-header{
    &-navbar{
      font-size: 1.1em;
      padding: 0.5em 0;

      &-logo{
        font-size: 1.9em;
        .main-header-navbar-title {
          font-size: 1em;
        }
      }
      .main-header-navbar-right-icons{
        padding: 0.9em;
        .fa-search{
          padding-right: 0.3em;
        }
      }
      .fa-bars{
        padding: 1em;
        font-size: 1.2em;
      }
     
    }
    &-navbar-menu{
      display: none;
      padding: 0.3em 0.2em;
    }
    
    
  }
}

//only desktop
@media #{$break3} {
  .main-header{
      &-navbar{
      justify-content: flex-end;
      padding: 0.5em 0;
      .fa-bars{
       display: none; 
      }
      &-logo{
        width: 52%;
        font-size: 2.2em;
        .main-header-navbar-title {
          font-size: 1.1em;
        }
      }
      .main-header-navbar-right-icons{
        padding: 0.8em;
        font-size: 1.3em;
        .fa-search{
          padding-right: 0.3em;
        }
      }
    }
    &-navbar-menu{
      display: flex;
      padding: 0.3em 0.2em;
    }
    
    
  }

}
