.landing-page{
  background: black;
  position: fixed;
  background-position-x: center;
  background-position-y: center;
  background-image: url("/assets/styles/LandingPage/Welcome.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: none;
  &:hover{
    cursor: pointer;
  }
  &-form{
    visibility: hidden;
    position: relative;
    top: 45%;
    left: 42%;
    &-title{
      position: relative;
      left: -1%;
     margin-bottom: 2em;
     font-size: 1.2em;
    }
    #landing-text-input{
      line-height: 1.5em;
      padding: 0.4em;
      background-color: hsl(180,30%,20%);
      border-radius: 0.2em;
      &::placeholder{
        color: hsl(0,50%,90%);
      }
      &:focus{
        font-weight: normal;
        color: hsl(0,20%,100%);
        filter: brightness(1.4);
      }
    }
    #landing-submit-input{
      margin: 0.3em;
      padding: 0.4em;
      border-radius: 0.5em;
      background-color: hsl(180,30%,80%);
      &:hover{
        cursor: pointer;
         background-color: hsl(180,50%,80%);

      }
    }
  }

}


//mobile and tablet
@media #{$break1}, #{$break2}{

}

//only mobile
@media #{$break1}{
   
}
//only tablet
@media #{$break2}{
   
}
//only desktop
@media #{$break3}{
  
}