/* imports */
@import "./forms";
@import "./main_todo";
@import "./date";

.main-content {
  background-color: $red1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  
}

.blurBackground{
  filter: grayscale(40%)blur(2px)brightness(0.8);
  // user-select: none;
  // cancel scroll
}
