//common style
.main-content-todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3em;
  box-shadow:inset 0px 0px 40px 5px hsl(0, 50%, 20%);
  &-select-container{
      .todo-select-icon{
      padding: 0.7em 0.8em;
      margin: 0.2em;
      font-size: 1.1em;
      opacity: 0;
      background-color: hsl(0, 20%, 15%);
      color: hsl(350, 70%,90%);
      transition-property: opacity;
      transition-duration: 0.6s;
      &:hover{
        cursor: pointer;
        transform: scale(1.05);
      }
    }
    &:hover{
    .todo-select-icon{
      opacity: 1;
    }
    }
    .fa-edit{
      margin-left: 0;
      &:hover{
        color: hsl(30, 80%, 65%);
      }
    }
    .fa-plus{
      &:hover{
        color: hsl(150, 60%, 35%);
      }
    }
    .fa-trash{
      &:hover{
        color: hsl(0, 70%, 55%);
      }
    }
    .placefiller{
      color: transparent; 
      background-color: transparent; 
      &:hover{
      cursor: default;
      color: transparent; 
      background-color: transparent; 
      }

    }
  }
  &-select{
    background-color: var( --list-selcet-bg-clr);
    font-size: 1.1em;
    box-shadow: 0px 8px 8px -9px hsl(0, 20%, 10%);
    color : $white2;
    padding: 0.5em 2em;
    margin: 1.5em 0;
    outline: none;
    transition-property: background-color;
    transition-duration: 0.8s;
    text-align-last: center;
    &:hover{
      cursor: pointer;
      transform: scale(1.02);
      filter: brightness(1.1);
    }
  }
  &-list{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    &-item{
      border-radius: 0.6em;
      display: flex;justify-content: space-between; align-items: center;
      width: 50%;padding: 0.4em 0.7em;margin: 0.2em;
      background-color: var(--list-item-bg-clr);color: var(--list-item-clr);opacity: 0.75;
      transition-property: all;
      transition-duration: 1s;
      
      &:hover{
        opacity: 1;
        transform: scale(1.02);
      }
      .fa-trash-alt{
        &:hover{
          cursor: pointer;
          color: hsl(0, 70%, 55%);
        }
      
      }
      .fa-edit{
      
        &:hover{
          cursor: pointer;
          color: hsl(30, 80%, 75%);
        }
      
      }
      .fa-star{
        padding-right: 0.5em;
        &:hover{
          cursor: pointer;
          color : hsl(50, 100%, 75%);
        }
      }
      }
      
    }
  }
