
//all
.main-flex{
    .main-header{
        .fa-bars{
          &:hover{
              font-size: 1.1em;
          }
        }
        .fa-suse{
            &:hover{
                animation-name: chameleon;
                animation-duration:4s;
                animation-delay: 0.5s;
                animation-iteration-count: infinite;
               @keyframes chameleon{
                10% { color:rgb(221, 63, 63);}
                25% { color:rgb(255, 187, 0);}
                50% { color:rgb(78, 117, 226);}
                70% { color:rgb(61, 180, 61);}
                85% { color:white;}
                100% { color:rgb(221, 63, 63);}

               }
            }
         }
    }

    
        
}




.deleted{
    animation: delete;
    animation-duration: 0.6s;
    @keyframes delete {
        100% {transform: scaleX(0);}
    }
}