.delete-popup{
    z-index: 1;
    position: absolute;
    height: 30%;
    width: 50%;
    top: 35%;
    left: 25%;
    background-color: hsl(150, 45%, 90%);
    color: hsl(0, 10%, 10%);
    border-radius: 0.7em;
    box-shadow: inset 0px 0px 0px 8px hsl(150, 25%, 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    &-question{
        font-size: 1.3em;
        font-weight: bold;
        margin: 0.5em;
    }
    &-answer{
        &-button{
            padding: 0.4em;
            margin: 0.3em;
            &:hover{
                cursor: pointer;
                transform: scale(1.02);
                filter: brightness(1.5);
            }
        }
    }
}
.no{
    background-color: hsl(0, 60%, 40%);
    color: hsl(0, 20%, 5%);
}

.yes{
    background-color: hsl(80, 60%, 40%);
    color: hsl(80, 20%, 5%);
}

.blurBackground{
    filter: grayscale(40%)blur(2px)brightness(0.8);
  }
.cant-touch{
  cursor: not-allowed;
}