//common all
.edit-popup{
  visibility: hidden;
  position: fixed;
  background-color: hsl(180, 65%, 90%);
  box-shadow: inset 0px 0px 0px 8px hsl(180, 45%, 60%);
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border-radius: 0.6em;
  padding: 0.5em;

    &-title{
      text-align: center;
      background-color: hsl(180, 35%, 50%);
      opacity: 0.5;
      color: $black1;
      padding: 0.5em 0;
      margin-top: 2em;
      width: 100%;
      font-size: 1.4em;
      font-weight: bold;
    }
    #popup-exit{
    align-self: flex-end;
    background-color: hsl(180, 25%, 70%);
    margin: 0.2em 0;
    width: 9%;
    padding: 0;
    padding-bottom: 0.2em;
    margin-right: 0.5em;
    font-size: 1.5em;
    &:hover{
      background-color: hsl(180, 55%, 70%);
    }
  }
  &-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.3em;
    width: 100%;
    font-size: 1.1em;
    padding: 0.3em 1em;
   
    #popup-title-input{
      text-align: center;
      line-height: 1.8em;
      font-size: 1.1em;
      background-color: hsl(180, 25%, 70%);
      box-shadow: 0px 6px 6px -6px $black2;
      margin: 0.5em 0;
      &:focus{
        background-color: hsl(180, 65%, 60%);
        color: $black2;
      }
    }
    #popup-priority-select{
      margin-top: 0.2em;
      background-color: $black2;
      color: $white1;
      font-weight: bold;
      align-self: center;
      width: 13%;
      &:focus{
        background-color: $black1;
        color: $white2;
      }
    }
  }
  .edit-submit-update{
    margin-top: 0.6em;
    padding: 0.4em;
    background-color: hsl(180, 55%, 70%);
    width: 17%;
    color: $black2;
    &:hover{
      color: $black1;
      background-color: hsl(180, 65%, 60%);
    }
  }
}


//only mobile
@media #{$break1}{
  .edit{  
    top:20%;
    left:7.5%;
    width: 85%;
    height: 45%;
  .exit-editForm{
    font-size: 1.2em;
    width: 9%;
  }
  .edit-form{
    select{
      width: 15%;
    }
    .edit-submit-update{
      width: 40%;
      }
  }

  }
}
@media (max-width:500px){
  .edit-popup{
    top: 20%;
    left: 5%;
    height: 60%;
    width: 90%;
  }

}

//mobile mid phase
@media (min-width:500px)and (max-width:765px){
  .edit-popup{
    top: 20%;
    left: 20%;
    height: 60%;
    width: 60%;
  }

}


//tablet only
@media #{$break2}{
  .edit-popup{
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
  }
}

//desktop only
@media #{$break3}{
  .edit-popup{
    top: 20%;
    left: 35%;
    width: 30%;
    height: 60%;
  }
}




.blurBackground{
  filter: grayscale(40%)blur(2px)brightness(0.8);
}


