//common all
.edit-popup{
  visibility: hidden;
  position: fixed;
 
  background-color: $white2;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border-radius: 0.6em;
  padding: 0.5em;

    &-title{
      text-align: center;
      background-color: $black2;
      color: $white2;
      padding: 0.5em 0;
      margin-top: 0.2em;
      width: 100%;
      font-size: 1.4em;
      font-weight: bold;
    }
  .popup-exit{
    align-self: flex-end;
    background-color: $green4o;
    margin: 0.2em 0;
    width: 9%;
    padding: 0;
    padding-bottom: 0.2em;
    margin-right: 0.5em;
    font-size: 1.5em;
    &:hover{
      color: $white1;
      background-color: $green3;
    }
  }
  &-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.3em;
    width: 100%;
   
    #popup-title-input{
      text-align: center;
      line-height: 1.8em;
      font-size: 1.1em;
      background-color: $green4o;
      box-shadow: 0px 6px 6px -6px $black2;
      margin-bottom: 0.5em;
      &::placeholder{
        color: $white3;
      }
      &:focus{
        background-color: $green3;
        color: $white1;
      }
    }
    #popup-priority-select{
      margin-top: 0.2em;
      background-color: $black1;
      color: $white1;
      font-weight: bold;
      align-self: center;
      width: 13%;
      &:focus{
        background-color: $black1;
        color: $white2;
      }
    }
  }
  .edit-submit-update{
    background-color: $green3;
    width: 17%;
    color: $black2;
    &:hover{
      color: $black1;
      background-color: $green3;
    }
  }
}


//only mobile
@media #{$break1}{
  .edit{  
    top:20%;
    left:7.5%;
    width: 85%;
    height: 45%;
  .exit-editForm{
    font-size: 1.2em;
    width: 9%;
  }
  .edit-form{
    select{
      width: 15%;
    }
    .edit-submit-update{
      width: 40%;
      }
  }

  }
}

//mobile mid phase
@media (min-width:500px)and (max-width:765px){
  .edit-popup{
    left: 20%;
    width: 60%;
  }

}


//tablet only
@media #{$break2}{
  .edit-popup{
    top: 25%;
    left: 20%;
    width: 60%;
    height: 50%;
  }
}

//desktop only
@media #{$break3}{
  .edit-popup{
    top: 27.5%;
    left: 35%;
    width: 30%;
    height: 45%;
  }
}




.blurBackground{
  filter: grayscale(40%)blur(2px)brightness(0.8);
}


