//common style

.priority{
    &-1{
        box-shadow: inset 0px 0px 5px 2px hsl(0, 70%, 50%);
       
    }
    &-2{
        box-shadow: inset 0px 0px 5px 2px hsl(40, 80%, 50%);


      
    }
    &-3{
        box-shadow: inset 0px 0px 5px 2px hsl(150, 60%, 50%);
    }
}