//common style

.priority{
    &-1{
        &:hover{
            box-shadow: inset 0px 0px 1px 2px hsl(0, 80%, 50%); 
        }
       
    }
    &-2{
        &:hover{
            box-shadow: inset 0px 0px 1px 2px hsl(40, 80%, 50%);
        }


      
    }
    &-3{
        &:hover{
            box-shadow: inset 0px 0px 1px 2px hsl(150, 60%, 50%);
        }
    }
}