//comon style

footer{
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    padding: 0.2em 0;
    margin-top: 1em;
    a{
        padding: 0.2em 0.2em;
    }
}