//comon style

.main-footer{
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    padding: 0.2em;
    margin-top: 1em;
    &-text-info{
        padding:0 0.2em;
    }
}