//comon style

//mobile and tablet
@media #{$break1}, #{$break2}{

}

//only mobile
@media #{$break1}{
 .main-content-forms{
     display: flex;
     flex-direction: column;
     .main-content-searchForm{
         @include flexCenter(row);
         padding: 0.2em 0;
         background-color: white;
         input{
             text-align: center;
         }
     }
     .main-content-todoForm{
         @include flexCenter(column);
         color :white;
         label{
             padding: 0.2em;
         }
         button{
             padding: 0.5em;
             margin:0.7em 0;
             border-radius: 0.5em;
             background-color: green;
         }
     }
 }
}

//only tablet
@media #{$break2}{
    
}

//only desktop
@media #{$break3}{
    
}