//comon style
.main-content-forms {
  display: flex;
  flex-direction: column;
  background-color: $red1;
  &-searchForm {
    @include flexCenter(row);
    display: none;
    width: 100%;
    align-items: center;
    #search-input {
      text-align: center;
      width: 100%;
      padding: 0.5em 2em;
      box-shadow: 0px 7px 10px -7px $black1;
      &:focus {
        font-size: 1.2em;
      }
    }
  }
  &-todoForm {
    @include flexCenter(column);
    color: $white1;
    display: none;
    align-items: center;
    margin: 1em;
    &-titleLabel{
      padding: 0.5em;
      font-size: 1.2em;
    }
    #todoForm-title-input {
      box-shadow: 0px 7px 10px -7px $black1;
      opacity: 0.95;
      margin: 0.8em;
      &:focus {
        opacity: 1;
        color: $red2;
      }
      &-selector {
        &-titleLabel {
          color: $white2;
          font-size: 0.9em;
        }
        #todoForm-priority-select {
          background-color: $black1;
          color: $white1;
          padding-top: 0.5em;
        }
        &-option {
          background-color: $black2;
        }
        #todoForm-submit-button {
          padding: 0.8em;
          margin: 0.7em 0;
          border-radius: 0.5em;
          outline: none;
          font-weight: bold;
          &:hover {
            font-size: 1.05em;
          }
        }
      }
    }
  }
  #todoForm-submit-button {
    padding: 0.5em;
    margin: 0.5em;
    background-color: $red3;
    box-shadow: 0px 7px 10px -7px $black1;
  }
}
//only mobile
@media #{$break1} {
  //mobile and tablet and desktop
}

// tablet and desktop
@media #{$break2},#{$break3} {
  
}
//only tablet

@media #{$break2} {
  .main-content-forms-todoForm {
    border-bottom: 7px solid darken($red1, 2);
  }
}

//only desktop
@media #{$break3} {
}
