//comon style


.main-header{
    width: 100%;
    @include flexCenter(column);
    background-color: rgb(162, 218, 240);
    position: sticky;
    top: 0;
    
}

//mobile and tablet
@media #{$break1}, #{$break2}{

}

//only mobile
@media #{$break1}{
    .main-header{
        // .main-header-toggle{
        //     p{
        //         display: none;
        //     }
        //     i{
        //         display: none;
        //     }
        // }
        .main-header-mobile{
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: 1.3em;
            .main-header-mobile-container{
                display: flex;
                justify-content: space-between;
                 padding: 0.5em;

                h1{
                    flex-grow: 1;
                    text-align: center;
                }
            
                .fa-bars{
                    padding-right: 1.2em;
                }
                .fa-search{
                    padding-right: 0.5em;
                }
                .fa-cog{
                    padding-left: 0.5em;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .main-header-menu{
                background-color: rgb(182, 182, 182);
                width: 100%;
                padding: 0.2em 0.5em;
                font-weight: normal;
                font-size: 0.9em;
                i{
                    border: 3px solid pink;
                }
            }
        }
      
    }
}

//only tablet
@media #{$break2}{
    .main-header{
        position: fixed;
    }
    
}

//only desktop
@media #{$break3}{
    
}