//comon style
header{
    align-self: flex-start;
    width: 100%;
    @include flexCenter(column);
    background-color: $black400;
    color: white;
    position: fixed;
}

//mobile and tablet
@media #{$break1}, #{$break2}{

}

//only mobile
@media #{$break1}{
    header{
        .main-header-toggle{
            p{
                display: none;
            }
            i{
                display: none;
            }
        }
        h1{
            display: none;
        }
        .header-mobile{
            width: 100%;
            display: flex;
           justify-content: space-between;
            font-size: 1.3em;
             padding: 0.7em;

            .fa-bars{
                align-self: flex-start;
                &:hover {
                    cursor: pointer;
                }
            }
            .fa-cog{
                &:hover {
                    cursor: pointer;
                }
            }
        }
      
    }
}

//only tablet
@media #{$break2}{
    
}

//only desktop
@media #{$break3}{
    
}