//comon style


.main-header{
    width: 100%;
    @include flexCenter(column);
    position: sticky;
    top: 0;
}
//only mobile
@media #{$break1}{
}

//mobile and tablet
@media #{$break1}, #{$break2}, #{$break3}{
    .main-header{
        .main-header-toggle{
            p{
                display: none;
            }
            i{
                display: none;
            }
        }
        .main-header-mobile{
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: 1.3em;
            .main-header-mobile-container{
                display: flex;
                justify-content: space-between;
                 padding: 0.5em;
               

                h1{
                    flex-grow: 1;
                    text-align: center;
                    i{
                        padding-right: 0.5em;
                        font-size: 1.3em;
                    }
                }
                i{
                    &:hover {
                        cursor: pointer;
                    }
                }
                .fa-bars{
                   
                    padding-right: 1.2em;
                }
                .fa-search{
                    padding-right: 0.5em;
                }
                .fa-cog{
                    padding-left: 0.5em;
                    
                }
            }
            .main-header-menu{
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: rgb(182, 182, 182);
                width: 100%;
                padding: 0.2em 0.5em;
                font-weight: normal;
                font-size: 0.9em;
                display: none;
                
            }
        }
      
    }
}

//only tablet
@media #{$break2}{
    .main-header{
        font-size: 1.1em;
        .main-header-mobile-container{
           margin: 0.5em;
            .fa-search{
                font-size: 0.9em;
            }
           
        }
        .main-header-menu{
            i{
                padding: 0.5em;
            }
        }
        
    }
    
}

//only desktop
@media #{$break3}{
    
}