//common style
.main-content-todolist {
  display: flex;
  flex-direction: column;
   align-items: center;
  &-title{
    width: 100%;text-align: center;
    background-color:$black1;
    color : $white2;
    padding: 0.6em 0;
    font-size: 1.1em;
    font-weight: bold;
  }
  &-list{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    &-item{
      border-radius: 0.6em;
      display: flex;justify-content: space-between; align-items: center;
      width: 50%;padding: 0.4em 0.7em;margin: 0.5em;
      background-color: var(--bg--todo-list-item);color: var(--bg-clr--todo-list-item);opacity: 0.8;
      transition-property: all;
      transition-duration: 1s;
      &:hover{
        opacity: 1;
        transform: scale(1.02);
      }
      .fa-trash-alt{
        &:hover{
          cursor: pointer;
          color : var(--todo-list-item-trash);
        }
      }
      .fa-edit{
        &:hover{
          cursor: pointer;
          color : var(--todo-list-item-edit);
        }
      }
      }
      
    }
  }

//only mobile
@media #{$break1} {
}
//only tablet
@media #{$break2} {
}
//only desktop
@media #{$break3} {

}
