.main-content-todolist {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  &-title {
    font-size: 1.2em;
    padding: 0.5em 0;
  }
  &-list {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      padding: 0.3em 1.2em;
      border-radius: 0.4em;
      font-size: 0.9em;
      margin: 0.32em 2em;
      opacity: 0.8;
      transition-property: opacity, font-size;
      transition-duration: 0.6s;
      &:hover {
        opacity: 1;
        font-size: 0.95em;
        todo-icon {
          opacity: 1;
        }
      }
      .draggable {
        &:hover {
          cursor: grab;
        }
        .dragging {
          opacity: 0.5;
        }
      }
      &-title {
        text-align: center;
        flex-wrap: nowrap;
        font-size: 1.1em;
        padding: 0 0.5em;
        overflow: hidden;
      }
      todo-icon {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.6s;
        &:hover {
          cursor: pointer;
          font-size: 1.05em;
        }
      }
    }
  }
}

@media #{$break1} {
  .main-content-todolist-list-item {
    align-self: center;
    width: 80%;
  }
}

//only tablet and desktop

@media #{$break2}, #{$break3} {
  .main-content-todolist {
    &-title {
      margin-top: 0.4em;
    }
    &-list-item {
      width: 50%;
      align-self: center;
    }
  }
}
//only tablet

@media #{$break2} {
}
//only desktop
@media #{$break3} {
  .main-content-todolist {
    margin-top: 2em;
    &-list-item {
      width: 40%;
    }
  }
}
