//comon style

.todo-list{
    height: 100%;

}
//only mobile
@media #{$break1}{

}

//mobile and tablet
@media #{$break1}, #{$break2}{
    .main-flex{
        .main-content{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow: auto;
        }
        .todo-list{
            text-align: center;
            display: inline-block;
                h2{
                    font-size: 1.2em;
                    padding: 0.5em 0;
                }
                li{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: nowrap;
                    padding: 0.3em 1.2em;
                    border-radius: 0.4em;
                    font-size: 0.9em;
                    margin: 0.32em 2em;
                    opacity: 0.8;
                    transition-property: opacity,font-size;
                    transition-duration: 0.6s;
                   
                    a{
                        text-align: center;
                        flex-wrap: nowrap;
                        width: 80%;
                        font-size: 1.1em;
                        padding: 0 0.5em;
                        overflow: hidden;
                    }
                    i{
                        opacity: 0;
                        transition-property: opacity;
                        transition-duration: 0.6s;
                        &:hover{
                            cursor: pointer;
                            font-size: 1.05em;
                        }
                    }
                    &:hover{
                        opacity: 1;
                        font-size: 0.95em;
                        i{
                            opacity: 1;
                        }
                    }
                }
        }
    }
}

//only tablet
@media #{$break2}{
    
    .todo-list{
        align-self: center;
        width: 60%;
        h2{
            border-radius: 0.5em;
            margin-top: 0.4em;
        }
    }
    
}

//only desktop
@media #{$break3}{
    
}