//comon style
body{
    background-color: black;
}
//mobile and tablet
@media #{$break1}, #{$break2}{

}

//only mobile
@media #{$break1}{
    .main-flex{
        main{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            background-color: gray;
        }
        .todo-list{
            text-align: center;
            display: inline-block;
                h2{
                    background-color: pink;
                    font-weight: bold;
                    padding: 0.3em 0;
                }
                li{
                    background-color: rgb(240, 240, 126);
                    padding: 1em 0;
                }
        }
    }
}

//only tablet
@media #{$break2}{
    
}

//only desktop
@media #{$break3}{
    
}