@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}



//day night

@mixin day{
    .mainContainer{
        background-color:$white50;
    }
    .menu{
        background-color: $dayBackground;

    }
    header{
        background-color: $whiteBlue800;
        color : $dayDarkFont;
        h1{
        color : $dayDarkFont;
        }
        i{
            color:$white50;
        }
       

    }
    .main__todoForm{
        .main__searchForm{
            background-color: $black400;
        }
        label{
            color : $blue400;
        }
        input{
        box-shadow: 0px 6px 7px -7px $blue800;
        background-color: $white200;

        }
        input:focus{
        background-color: $white100;

        }
        select{
            background-color: $blueGreen200;
            color: $black400;
        }
        button{
            background-color: $whiteBlue800;
            font-weight: bold;
        }
    }
    .main__todoList{
        background-color: $white50;
        ul{
            color: $blueGreen200;
            li{
            background-color: $dayBackground;

            }
        }
    }

   
}


@mixin night{
    .mainContainer{
        background-color: $black50;
    }
    header{
        background-color: $nightBlack;
        color : $darkPurple200;
        h1{
        color : $darkPurple100;
        }
        .toggle{
            i{
            color: $darkPurple200;
                
            }
            color: $darkPurple200;
        }

        
    }
    .main{
        background-color: $black400;
    }
    form{
        background-color: $nightBackground;
        color: $darkPurple200;
        .main__searchForm{
            background-color: $white100;
        }
        label{
            color: $darkPurple100;
            
        }
        input{
            color : white;
            border-bottom: 1px solid white;

        }
        input:focus{
            background-color: $night800;
        }
        select{
            color: $nightBackground;
            background-color: $darkPurple100;
        }
        select:focus{
            box-shadow: 1px 1px 1px $darkPurple300;
        }
        button{
            background-color: $night800;
            
        }
    }
    .todo-list{
        background-color: $black400;
    }
   
}
