//colors
//white
$white : white;
$white50 : rgb(243, 243, 243);
$white100 : rgb(236, 236, 236);
$white200 : rgb(204, 202, 202);

$whiteYellow50 : rgb(240, 239, 231);
$whiteBlue100 : rgb(237, 245, 246);
$whiteBlue200 : rgb(216, 237, 240);
$whiteBlue800 : rgb(36, 120, 131);



//black
$black50 : rgb(93, 93, 93);
$black400 : rgb(41, 41, 41);
$black800 : rgb(0, 0, 0);


//blue
$dayBackground : lightblue;
$blue50 : rgb(222, 235, 255);
$blue100 : rgb(199, 221, 255);
$blue200 : rgb(167, 197, 241);
$blue400 : rgb(61, 101, 161);
$blue800 : rgb(15, 38, 73);

$blueGreen50 : rgb(223, 244, 251);
$blueGreen100 : rgb(205, 241, 253);
$blueGreen200 : lightblue;
$blueGreen400 : rgb(91, 159, 182);




// day
$whiteBackground :white;
$dayBackground : lightblue;
$dayDarkFont : rgb(27, 5, 66);


// night
$nightBlack :#000000;
$nightBackground :  #282828;
$night600 :  #757575;
$night800 : #424242;

$darkPurple100 :#D7B7FD;
$darkPurple200 :#BB86FC;
$darkPurple300 :#9E55FC;
$darkPurple400 :#4B00D1;
$darkPurple800 :#270096;

$darkGreen200 :#03DAC5;
$darkGreen600 : #019592;


//media
$minScreenSize : 320px;
$phoneSize: 480px;
$tabletSize : 768px;
$laptop : 1024px;
$desktop : 1280px;

