
// day
$dayBackground : lightblue;
$dayDarkFont : rgb(27, 5, 66);


// night
$nightBackground :  rgb(23, 3, 58);
$nightDarkFont : rgb(83, 47, 182);
$nightLightFont : rgb(162, 149, 241);


//media
$minScreenSize : 320px;
$phoneSize: 480px;
$tabletSize : 768px;