// abstracts
@import "./abstracts/mixin";
@import "./abstracts/variables";
@import "./abstracts/colors";
// base
@import "./base/normalize";
@import "./base/reset.local";
@import "./base/typography";

// components
@import "./components/buttons";

//layout
@import "./layout/header";
@import "./layout/footer";
@import "./layout/forms";
@import "./layout/sidebar";
@import "./layout/main_todo";

//themes
@import "./themes/day";
@import "./themes/night";

//comon style
.toggleOnDay{
    @include day;
}

.toggleOnNight{
    @include night;
}
html{
    height: 100%;
}

body,.main-flex{
    height: 100%;
}

//mobile and tablet
@media #{$break1}, #{$break2}{

}

//only mobile
@media #{$break1}{
    .main-flex{
        @include flexCenter(column);
    }
}
//only tablet
@media #{$break2}{
    body{
        background-color: blue;
    }
}
//only desktop
@media #{$break3}{
    body{
        background-color: greenyellow;
    }
}