// abstracts
@import "./abstracts/mixin";
@import "./abstracts/variables";
@import "./abstracts/colors";
// base
@import "./base/normalize";
@import "./base/reset.local";
@import "./base/typography";

// components
@import "./components/buttons";
@import "./components/animation";
@import "./components/select";
@import "./components/edit-event";
@import "./components/priority";


//layout
@import "./layout/header";
@import "./layout/footer";
@import "./layout/forms";
@import "./layout/sidebar";
@import "./layout/main_todo";
@import "./layout/date";
@import "./layout/landingPage";
@import "./layout/backdrop";


//themes
@import "./themes/day";
@import "./themes/night";

//comon style
//mixin implementation
.toggleOnDay{
    @include day;
}

.toggleOnNight{
    @include night;
}

html{
    min-height: 100%;
    height: max-content;
}

body,.main-flex{
    height: 100vh;
}


//mobile and tablet
@media #{$break1}, #{$break2}{
    .main-flex{
        @include flexCenter(column);
    }
}

//only mobile
@media #{$break1}{
    
}
//only tablet
@media #{$break2}{
   
}
//only desktop
@media #{$break3}{
    
}

//landing page
@include landingPage();

// li priority style
@include priority;
