// abstracts
@import "./abstracts/mixin";
@import "./abstracts/variables";
@import "./abstracts/colors";
// base
@import "./base/normalize";
@import "./base/reset.local";
@import "./base/typography";

// components
@import "./components/buttons";
@import "./components/animation";
@import "./components/select";
@import "./components/edit-event";
@import "./components/priority";
@import "./components/input";
@import "./components/deleteAlert";
@import "./components/drag_and_drop";

//layout
@import "./layout/header";
@import "./layout/main-content";
@import "./layout/footer";

//themes
@import "./themes/theme";
//comon style
//mixin implementation

html {
  min-height: 100%;
  height: max-content;
}

body,
.main-flex {
  height: 100vh;
}

//mobile and tablet
@media #{$break1}, #{$break2} {
  .main-flex {
    @include flexCenter(column);
  }
}

//only mobile
@media #{$break1} {
}
//only tablet
@media #{$break2} {
}
//only desktop
@media #{$break3} {
}

//landing page

// @import "./components/deleteAlert";
// @import "./layout/landingPage";
