// abstracts
@import "./abstracts/mixin";
@import "./abstracts/variables";
@import "./abstracts/colors";
// base
@import "./base/normalize";
@import "./base/reset.local";
@import "./base/typography";

// components
@import "./components/buttons";

//layout
@import "./layout/header";
@import "./layout/footer";
@import "./layout/forms";
@import "./layout/sidebar";
@import "./layout/main_todo";
@import "./layout/date";
@import "./layout/landingPage";

//themes
@import "./themes/day";
@import "./themes/night";

//comon style
//mixin implementation
.toggleOnDay{
    @include day;
}

.toggleOnNight{
    @include night;
}

html{
    min-height: 100%;
    height: max-content;
}

body,.main-flex{
    height: 100vh;
}


//mobile and tablet
@media #{$break1}, #{$break2}{

}

//only mobile
@media #{$break1}{
    .main-flex{
        @include flexCenter(column);
    }
}
//only tablet
@media #{$break2}{
   
}
//only desktop
@media #{$break3}{
    
}

//landing page
@include landingPage();