@import "./variables";
@import "./resets/normalize";
@import "./resets/reset.local";
@import "./resets/typography";


@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}



header{
    @include flexCenter(column-reverse);
    text-align: center;
    color: rgb(218, 201, 221);
    margin-bottom: 5vh;
    .toggle{
        @include flexCenter(row);
        align-self: flex-end;
        margin: 15rem 5rem;
        margin-bottom: 0;
    }
    h1{
        @include flexCenter(column);
        font-size: 2.5em;
        padding-bottom: 5vh;
    }
    i{
        font-size: 1.8em;
        color : rgb(180, 139, 228);
    }
    i:hover{
        font-size: 1.85em;
        cursor: pointer;
    }
    h2{
        padding: 2rem 8rem;
    }
} 

@media (min-width: $minScreenSize){
    header{
        font-size: 0.8em;
    }
    
}

@media (min-width: $tabletSize){
    header{
        font-size: 1em;
    }
}


@mixin day{
    header{
        background-color: $dayBackground;
        color : $dayDarkFont;
        h1{
        color : $dayDarkFont;
        }
    }
}

@mixin night{
    header{
        background-color: $nightBackground;
        color : $nightLightFont;
        h1{
        color : rgb(221, 221, 219);
        }
    }
    body{
        background-color: $nightBackground;
    }
}
body{
    @include night;
}

.toggleOnDay{
    @include day;
}

.toggleOnNight{
    @include night;

}


