@import "./variables";
@import "./resets/normalize";
@import "./resets/reset.local";
@import "./resets/typography";


@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

#body{
    height: 100vh;
}

header{
    @include flexCenter(column-reverse);
    text-align: center;
    color: rgb(218, 201, 221);
    margin-bottom: 5vh;
    .toggle{
        @include flexCenter(row);
        align-self: flex-end;
        margin: 15rem 5rem;
        margin-bottom: 0;
    }
    h1{
        @include flexCenter(column);
        font-size: 2.5em;
        padding-bottom: 5vh;
    }
    i{
        font-size: 1.8em;
        color : rgb(180, 139, 228);
    }
    i:hover{
        font-size: 1.85em;
        cursor: pointer;
    }
    h2{
        padding: 2rem 8rem;
    }
} 

@media (min-width: $minScreenSize){
    header{
        font-size: 0.8em;
    }
    form{
        @include flexCenter(row);
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1.2em;
        section{
            @include flexCenter(column);
            width: 30vw;

        }
        label{
            margin-bottom:5rem;
            margin-top: 8rem;
            font-size: 1.2em;
            font-weight: bold;

            
        }
        input{
            width: 60vw;
        }
        select{
            margin-top: 5vh;
            margin-bottom: 3vh;
            width: 22vw;

        }
    }
    
}

@media (min-width: $phoneSize){
   form{
       input{
           width : 30vw;
       }
       select{
        width: 10vw;
       }
   }
   
}

@media (min-width: $tabletSize){
    header{
        font-size: 1em;
    }
    form{
        input{
            width : 20vw;
        }
    }
    
}



//day night

@mixin day{
    #body{
        background-color: white;
    }
    header{
        background-color: $dayBackground;
        color : $dayDarkFont;
        h1{
        color : $dayDarkFont;
        }

    }
   
}


@mixin night{
    #body{
        background-color: $nightBackground;
    }
    header{
        background-color: $nightBlack;
        color : $darkPurple200;
        h1{
        color : $darkPurple100;
        }
        .toggle{
            i{
            color: $darkPurple200;
                
            }
            color: $darkPurple200;
        }

    }
    form{
        color: $darkPurple200;

        label{
            color: $darkPurple100;
            margin-bottom: 1em;
            margin-top: 1em;
        }
        input{
            color : white;
            padding-bottom: 10rem;
            outline: none;
            box-shadow: 0px 1.5rem  0.5px $darkPurple100;
            background-color: $nightBackground;
            border-bottom: 1px solid white;
            padding-top: 0.5em;
            border-radius: 0.1em;

        }
        input:focus{
            background-color: $night800;
        }
        input:hover{
            box-shadow: 0px 1rem  0.1px $darkPurple100;
        }
        select{
            padding: 7rem;
            border: none;
            border-radius: 0.6em;
            font-weight: bold;
            color: $nightBackground;
            background-color: $darkPurple100;
        }
        select:focus{
            outline: none;
            box-shadow: 1px 1px 1px $darkPurple300;
            font-weight: bold;
        }
        button{
            background-color: $night800;
            margin-top: 1em;
            padding: 1em;
            border-radius: 0.6em;
            font-size: 1.5em;
        }
    }
   
}


.toggleOnDay{
    @include day;
}

.toggleOnNight{
    @include night;
    

}


