@import "./variables";
@import "./resets/normalize";
@import "./resets/reset.local";
@import "./resets/typography";


@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

#body{
    height: max-content;
}

header{
    @include flexCenter(column-reverse);
    text-align: center;
    color: rgb(218, 201, 221);
    margin-bottom: 5vh;
    .toggle{
        @include flexCenter(row);
        align-self: flex-end;
        margin: 15rem 5rem;
        margin-bottom: 0;
    }
    h1{
        @include flexCenter(column);
        font-size: 2.5em;
        padding-bottom: 5vh;
    }
    i{
        font-size: 1.8em;
        color : rgb(180, 139, 228);
    }
    i:hover{
        font-size: 1.85em;
        cursor: pointer;
    }
    h2{
        padding: 2rem 8rem;
    }
} 

@media (min-width: $minScreenSize){
    header{
        font-size: 0.8em;
    }
    form{
        @include flexCenter(row);
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1.2em;
        text-align: center;
        
        section{
            @include flexCenter(column);
            width: 30vw;

        }
        label{
            font-size: 1.2em;
            font-weight: bold;
            color: $darkGreen600;
            margin-bottom: 1em;
            margin-top: 1em;
            
        }
        input{
            width: 60vw;
            text-align: center;
            padding-bottom: 10rem;
            outline: none;
            padding-top: 0.5em;
            border-radius: 0.1em;
            background-color: $nightBackground;
            box-shadow: 0px 6px 7px -7px $darkPurple100;
            font-weight: bold;

        }
        input:hover{
            box-shadow: 0px 6px 7px -6px $darkPurple100;

        }
        
        select{
            margin-top: 5vh;
            margin-bottom: 3vh;
            width: 30vw;
            padding: 7rem;
            border: none;
            border-radius: 0.6em;
            font-weight: bold;
            background-color: $nightBackground;
            color: $darkGreen600;

        }
        select:focus{
            outline: none;
            font-weight: bold;
        }
      
       
        button{
            width: 50vw;
            margin-top: 1em;
            padding: 1em;
            border-radius: 0.6em;
            font-size: 1.5em;

        }
    }
    
}

@media (min-width: $phoneSize){
   form{
       input{
           width : 40vw;

       }
       select{
        width: 22vw;
       }
   
   button{
    width: 30vw;
   }
}
   
}

@media (min-width: $tabletSize){
    header{
        font-size: 1em;
    }
    form{
        input{
            width : 30vw;
        }
        select{
            width: 15vw;
           }
        button{
            width: 20vw;
           }
    }
    
}

@media (min-width: $laptop){
    form{
        input{
            width : 25vw;
        }
        select{
            width: 10vw;
           }
        button{
            width: 14vw;
           }
    }
}

@media (min-width: $desktop){
    form{
        input{
            width : 30vw;
        }
        select{
            width: 8vw;
           }
        button{
            width: 12vw;
           }
    }
}


//day night

@mixin day{
    #body{
        background-color:$white50;
    }
    header{
        background-color: $dayBackground;
        color : $dayDarkFont;
        h1{
        color : $dayDarkFont;
        }
       

    }
    form{
        label{
            color : $blue400;
        }
        input{
        box-shadow: 0px 6px 7px -7px $blue800;
        background-color: $white200;

        }
        input:focus{
        background-color: $white100;

        }
        select{
            background-color: $blueGreen200;
            color: $black400;
        }
        button{
            background-color: $blueGreen200;
            font-weight: bold;
        }
       
    }

   
}


@mixin night{
    #body{
        background-color: $nightBackground;
    }
    header{
        background-color: $nightBlack;
        color : $darkPurple200;
        h1{
        color : $darkPurple100;
        }
        .toggle{
            i{
            color: $darkPurple200;
                
            }
            color: $darkPurple200;
        }

    }
    form{
        color: $darkPurple200;

        label{
            color: $darkPurple100;
            
        }
        input{
            color : white;
            border-bottom: 1px solid white;

        }
        input:focus{
            background-color: $night800;
        }
        select{
            color: $nightBackground;
            background-color: $darkPurple100;
        }
        select:focus{
            box-shadow: 1px 1px 1px $darkPurple300;
        }
        button{
            background-color: $night800;
            
        }
    }
   
}


.toggleOnDay{
    @include day;
}

.toggleOnNight{
    @include night;
    

}


