@import "./variables";
@import "./resets/normalize";
@import "./resets/reset.local";
@import "./resets/typography";
@import "./header";
@import "./mixin";

#body{
    height: max-content;
}


//todo list
.todo-list{
    @include flexCenter(column);
    justify-content: flex-start;
    background-color: $white200;
    margin-top: 2em;
    padding-top: 2em;
    height: 100vh;
    ul{
        padding:0.7em;
        border-radius: 0.2em;
        font-size: 1.5em;
        font-weight: bold;
        background-color: $black50;
        color: $darkPurple200;
        li{
            background-color: $darkPurple100;
        }
    }
}




@media (min-width: $minScreenSize){
    header{
        font-size: 0.8em;
    }
    form{
        @include flexCenter(row);
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1.2em;
        text-align: center;
        
        section{
            @include flexCenter(column);
            width: 30vw;

        }
        label{
            font-size: 1.2em;
            font-weight: bold;
            color: $darkGreen600;
            margin-bottom: 1em;
            margin-top: 1em;
            
        }
        input{
            width: 60vw;
            text-align: center;
            padding-bottom: 10rem;
            outline: none;
            padding-top: 0.5em;
            border-radius: 0.1em;
            background-color: $nightBackground;
            box-shadow: 0px 6px 7px -7px $darkPurple100;
            font-weight: bold;

        }
        input:hover{
            box-shadow: 0px 6px 7px -6px $darkPurple100;

        }
        
        select{
            margin-top: 5vh;
            margin-bottom: 3vh;
            width: 30vw;
            padding: 7rem;
            border: none;
            border-radius: 0.6em;
            font-weight: bold;
            background-color: $nightBackground;
            color: $darkGreen600;

        }
        select:focus{
            outline: none;
            font-weight: bold;
        }
      
       
        button{
            margin-top: 1em;
            padding: 0.8em;
            border-radius: 0.6em;
            font-size: 1.5em;

        }
    }
    
}

@media (min-width: $phoneSize){
   form{
       input{
           width : 40vw;

       }
       select{
        width: 22vw;
       }
   
   button{
    width: 30vw;
   }
}
   
}

@media (min-width: $tabletSize){
    header{
        font-size: 1em;
    }
    form{
        input{
            width : 30vw;
        }
        select{
            width: 15vw;
           }
        button{
            width: 20vw;
           }
    }
    
}

@media (min-width: $laptop){
    form{
        input{
            width : 25vw;
        }
        select{
            width: 10vw;
           }
        button{
            width: 12.5vw;
           }
    }
}

@media (min-width: $desktop){
    form{
        input{
            width : 30vw;
        }
        select{
            width: 8vw;
           }
        button{
            width: 10vw;
           }
    }
}


//day night

@mixin day{
    #body{
        background-color:$white50;
    }
    header{
        background-color: $dayBackground;
        color : $dayDarkFont;
        h1{
        color : $dayDarkFont;
        }
       

    }
    form{
        label{
            color : $blue400;
        }
        input{
        box-shadow: 0px 6px 7px -7px $blue800;
        background-color: $white200;

        }
        input:focus{
        background-color: $white100;

        }
        select{
            background-color: $blueGreen200;
            color: $black400;
        }
        button{
            background-color: $blueGreen200;
            font-weight: bold;
        }
    }
    .todo-list{
        ul{
            color: $blueGreen200;
        }
    }

   
}


@mixin night{
    #body{
        background-color: $nightBackground;
    }
    header{
        background-color: $nightBlack;
        color : $darkPurple200;
        h1{
        color : $darkPurple100;
        }
        .toggle{
            i{
            color: $darkPurple200;
                
            }
            color: $darkPurple200;
        }

    }
    form{
        color: $darkPurple200;

        label{
            color: $darkPurple100;
            
        }
        input{
            color : white;
            border-bottom: 1px solid white;

        }
        input:focus{
            background-color: $night800;
        }
        select{
            color: $nightBackground;
            background-color: $darkPurple100;
        }
        select:focus{
            box-shadow: 1px 1px 1px $darkPurple300;
        }
        button{
            background-color: $night800;
            
        }
    }
   
}


.toggleOnDay{
    @include day;
}

.toggleOnNight{
    @include night;
    

}


