/* 
#242582
#553D67
#F64C72
#99738E
#2F2FA2
 */
 html{ 
     height: 100%;
 }
body{
    height: 100%;
    background: url(/images/jessica-lewis-fJXv46LT7Xk-unsplash.jpg) center/cover no-repeat;
    background-color: #2c2108;
    vertical-align: middle;
    text-align: center;
}
/*header*/
@media all and (min-width: 320px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #353535;
        height: 10vh;
        color: beige;
        }
    .toggle h1 {
        font-size: 1.8em;
        color: beige;
    }
    .toggle {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.6em;
    }
    .sun{
        padding-left: 0.75em;
    }
    .sun:hover{
        color: rgb(255, 217, 0);
        box-shadow: 40px 0px 10px 0.3px rgba(255, 168, 6, 0.555);
        font-size: 1.1em;
    }
    .moon {
        padding-right: 0.75em;
    }
    .moon:hover {
        color: rgb(77, 149, 231);
        box-shadow: -30px 0px 10px 0.3px rgba(0, 255, 255, 0.39);
        font-size: 1.1em;

    }
}
/*header*/

/*form*/
@media all and (min-width: 320px) {
    form {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        color: #444444;
        background-color: rgba(235, 220, 189, 0.705);
        padding: 1vh 1vh 1vh 1vh;
    }
    form section {
        display: flex;
        flex-direction: column;
    }
    form:last-child{
        display: flex;
        align-items: center;
    }
    label {
        font-size: 1em;
        box-shadow: 0px 1px 1px 0.1px rgb(80, 55, 2);
        background-color: #f5f4f4e3;
    }
    input {
        border: none;
        box-shadow: 0px 1px 1px 0.1px rgb(80, 55, 2);
        margin-bottom: 0.5em;
    }
        
    button[type="submit"]{
        background-color: rgb(121, 96, 62);
        color: rgb(211, 211, 181);
        border-radius: 5%;
        box-shadow: 0px 1px 1px 1px rgb(105, 72, 28);
        font-size: 1em;
        font-weight: bold;
        outline: none;
        margin-top: 0.5em;
        width: 290px;
        height: 23px;
        align-self: center;
    }
    button[type="submit"]:hover{
        color: rgb(245, 245, 207);
        box-shadow: 0px 1px 3px 1px rgb(36, 21, 3);
    }
}
@media all and (min-width: 480px) {
    form { 
        align-items: center;
    }
    form section {
        width: 60%;
    }
}

@media all and (min-width: 768px) {
    form { 
        align-items: center;
    }
    form section {
        width: 40vw;
    }
}
/*form*/

/*footer*/
@media all and (min-width: 320px){
    footer {
        background: white;
        position: fixed;
        bottom:0;
        width: 100vw;
    }
}
/*footer*/
/* form */



/* todolist */

@media all and (min-width:320px){

    .todo-list{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin: 5vh 10vw;
    }   
    
    .todo-list ul{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        font-size: 0.9em;

        
    }
    
    .todo-list ul h2{
        padding: 8rem 0;
        font-weight: bold;
        color: rgb(218, 198, 172);
        background-color: rgba(95, 69, 9, 0.877);

    }
    
    ul li{
        background-color: rgba(240, 228, 192, 0.705);
        flex-grow: 1;
        padding: 5rem 5rem;
        border-radius: 2%;
        font-weight: bold;
        color:rgb(112, 59, 15);

    }
    
    ul li:hover{
        cursor: pointer;
        
    }
    
    li i{
        padding: 5rem;
        color: red;;
    }
    
    li .trash{
        width: 1em;
        height: 1.2em;
        content: url(/icon/Trash-icon.png);
        
        
    }
    
    
}

@media all and (min-width:480px){
    .todo-list ul{
        font-size: 1em;
    }
    
}
