@import "./variables";
@import "./resets/normalize";
@import "./resets/reset.local";
@import "./resets/typography";
@import "./header";
@import "./mixin";

#body{
    height: max-content;
    @include flexCenter(row);
    justify-content: space-between;
}

#menu{
    @include flexCenter(column);
    justify-content: space-between;
    align-self: stretch;
    margin: 0 0;
    width: 30vw;
    font-size: 1.3em;

    h2{
        font-weight: bold;
        padding-top: 1em;
        font-size: 1.4em;
    }
    footer{
        display: flex;
        padding-bottom: 1em;

    }
}



//todo list
.todo-list{
    @include flexCenter(column);
    justify-content: flex-start;
    background-color: $white200;
    padding-top: 2em;
    height: 100vh;
    text-align: center;
    ul{
        text-align: center;
        padding:0.7em;
        border-radius: 0.2em;
        font-size: 1.5em;
        font-weight: bold;
        background-color: $black50;
        color: $darkPurple200;

        li{
            text-align: center;
            background-color: $darkPurple100;
            margin-top: 1em;
            padding: 0px 1em;
            font-weight: normal;
            color: $black400;
        }
    }
}




@media (min-width: $minScreenSize){
    header{
        font-size: 0.8em;
    }
    form{
        @include flexCenter(row);
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1.2em;
        text-align: center;
        width: 70vw;
        
        section{
            @include flexCenter(column);
            width: 30vw;

        }
        label{
            font-size: 1.2em;
            font-weight: bold;
            color: $darkGreen600;
            margin-bottom: 1em;
            margin-top: 1em;
            
        }
        input{
            width: 60vw;
            text-align: center;
            padding-bottom: 10rem;
            outline: none;
            padding-top: 0.5em;
            border-radius: 0.1em;
            background-color: $nightBackground;
            box-shadow: 0px 6px 7px -7px $darkPurple100;
            font-weight: bold;

        }
        input:hover{
            box-shadow: 0px 6px 7px -6px $darkPurple100;

        }
        
        select{
            margin-top: 5vh;
            margin-bottom: 3vh;
            width: 30vw;
            padding: 7rem;
            border: none;
            border-radius: 0.6em;
            font-weight: bold;
            background-color: $nightBackground;
            color: $darkGreen600;

        }
        select:focus{
            outline: none;
            font-weight: bold;
        }
      
       
        button{
            margin-top: 1em;
            padding: 0.8em;
            border-radius: 0.6em;
            font-size: 1.5em;
            outline: none;
        }
    }
    
    .todo-list{
        ul{
        width: fit-content;
        }
    }
    
}

@media (min-width: $phoneSize){
   form{
       input{
           width : 40vw;

       }
       select{
        width: 22vw;
       }
   
   button{
    width: 30vw;
   }
}
   
}

@media (min-width: $tabletSize){
    header{
        font-size: 1em;
    }
    form{
        input{
            width : 30vw;
        }
        select{
            width: 15vw;
           }
        button{
            width: 20vw;
           }
    }
    .todo-list{
        ul{
        width: 30vw;
        }
    }
    
}

@media (min-width: $laptop){
    form{
        input{
            width : 25vw;
        }
        select{
            width: 10vw;
           }
        button{
            width: 12.5vw;
           }
    }
}

@media (min-width: $desktop){
    form{
        input{
            width : 30vw;
        }
        select{
            width: 8vw;
           }
        button{
            width: 10vw;
           }
    }
}



.toggleOnDay{
    @include day;
}

.toggleOnNight{
    @include night;
    

}


