/* 
#242582
#553D67
#F64C72
#99738E
#2F2FA2
 */
 html{
     height: 100%;
 }
body{
    height: 100%;
    background: url(/images/jessica-lewis-fJXv46LT7Xk-unsplash.jpg) center/cover;
}

/* all */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* all */


/* header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #353535;
    height: 15vh;
    color: rgb(155, 154, 146);
}

.header__title{
    font-size: 1.8em;
    color: beige;
}
/* header */

/* ============================= */
/* form */
.form {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgba(235, 220, 189, 0.705);

}

.form__container{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color: #444444;
}

.form__options__container{
    width: 90%;
    height: 100%;
    justify-content: space-evenly;
}
.form__button__add{
    background-color: rgb(124, 117, 107);
    color: rgb(207, 207, 178);
    border: none;
    border-radius: 5%;
    box-shadow: 0px 1px 1px 0.5px rgb(94, 74, 50);
    padding: 10rem 20rem;
    outline: none;
}

.form__button__add:hover{
    color: rgb(216, 216, 192);
    box-shadow: 0px 1px 1px 0.5px rgb(148, 117, 79);

}

.form__line__container{
    width: 100%;
    display: flex;
}

.form__label{
    font-size: 1.2em;
    margin-right: 5rem;
}
@media (max-width: 1300px)
{
    .form__container{
        width:80%;
    }
}

@media (max-width: 900px){
    .form__container{
        width:95%;
    }
    .form__label{
        font-size: 1.1em;
    }
}

@media (max-width: 700px){
    .form{
        height: 15vh;
    }
    .form__container{
        width:80%;
    }
    .form__options__container{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    
    .form__label{
        width: 20%;
        font-size: 1em;
    }
}

@media (max-width:400px){
    .form{
        height: 30vh;
        

    }
    .form__container{
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;
    }
    
    .form__label__column{
        margin-right:35rem;
    }
}

@media (max-width:300px){
    .header{
        font-size: 1em;
    }
    .form{
        height: 35vh;
    }
    .form__container{
        height:90%;
    }
    .form__options__container{
        height: 80%;
    }
    .form__line__container{
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
}
@media (max-width:150px){
    .header{
        font-size: 0.7em;
    }
}



/* form */

/* ================ */
/* table */
.table__hero{
    width: 100%;
}


.table__container{
    display: flex;
    justify-content: center;
    width: 60%;
    border: none;
    background-color: aliceblue;
    margin-top: 15vh;
    font-size: 1.1em;
    font-weight: bold;

}

.table {
    width: 100%;
    height: 50vh;
}

.table__head{
    background-color: rgba(199, 176, 129, 0.562);
    font-size: 1.4em;


}

tbody{
    color: #5a4517;
    text-align: center;
}

.tbody__row{
    height: 10%
}


a:hover{
    color: rgb(62, 146, 202);
    }


/* table */

/* 


.table__column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1rem solid black;
    text-align: center;
}
.table__column h1 {
    border-bottom: 1rem solid black;
    text-align: center;
    font-weight: 600;
}

.table__column__items{
    display: flex;
    flex-direction: column;
}

 */
