/* 
#242582
#553D67
#F64C72
#99738E
#2F2FA2
 */
 html{
     height: 100%;
 }
body{
    height: 100%;
    background: url(/images/jessica-lewis-fJXv46LT7Xk-unsplash.jpg) center/cover no-repeat;
    background-color: #2c2108;
    vertical-align: middle;
    text-align: center;
}

/* all */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.half__size{
    width: 50%;
    height: 50%;
}

.full__size{
    height: 100%;
    width: 100%;
}



/* all */


/* header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #353535;
    height: 15vh;
    color: rgb(155, 154, 146);
}

.header__title{
    font-size: 1.8em;
    color: beige;
}
/* header */

/* ============================= */
/* form */
.form {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgba(235, 220, 189, 0.705);

}

.form__container{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color: #444444;
}

.form__options__container{
    width: 90%;
    height: 100%;
    justify-content: space-evenly;
}
.form__button__add{
    background-color: rgb(121, 96, 62);
    color: rgb(211, 211, 181);
    border: none;
    border-radius: 5%;
    box-shadow: 0px 1px 1px 1px rgb(105, 72, 28);
    padding: 10rem 20rem;
    font-size: 1.3em;
    font-weight: bold;
    outline: none;
}

.form__button__add:hover{
    color: rgb(245, 245, 207);
    box-shadow: 0px 1px 3px 1px rgb(36, 21, 3);

}

.form__line__container{
    width: 100%;
    display: flex;
}

.form__label{
    font-size: 1.2em;
    margin-right: 5rem;
    padding: 8rem;
    box-shadow: 0px 1px 1px 0.1px rgb(80, 55, 2);
    background-color: #f5f4f4e3;
}
@media (max-width: 1300px)
{
    .form__container{
        width:80%;
    }
}

@media (max-width: 900px){
    .form__container{
        width:95%;
    }
    .form__label{
        font-size: 1em;
    }
    .form__button__add{
        font-size: 1em;
        padding: 5rem 10rem;
    }
    .form__line__container{
        height: 50%;
        width: 30%;
    }
}

@media (max-width: 700px){
    .form{
        height: 30vh;
    }
    .form__container{
        width:80%;
        height: 100%;
    }
    .form__options__container{
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .form__line__container{
        height: 20%;
    }
    
    .form__label{
        width: 100%;
        font-size: 1em;
    }
}

@media (max-width:400px){
    .form{
        height: 30vh;
        

    }
    .form__container{
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;
    }
    
    .form__label__column{
        margin-right:35rem;
    }
    
    .form__label{
        height: 130%;
        font-size: 1em;
    }
}

@media (max-width:300px){
    .header{
        font-size: 1em;
        
    }
    .form{
        height: 45vh;
    }
    .form__container{
        height:90%;
    }
    .form__options__container{
        height: 100%;
    }
    .form__line__container{
        flex-direction: column;
        justify-content: space-around;
        height: 50%;
        width: 100%;
    }
    .form__label{
        height: 40%;
    }
    
}
@media (max-width:150px){
    .header{
        font-size: 0.7em;
    }
}


/* list */
.list__container{
    width: 100%;
    height: 30%;
    margin-top: 2vh;
}


.list{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
}
.list__head__container{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(236, 228, 213);
    background-color: #313131;
    box-shadow: 0px 0px 1px 0.5px #5c5b5b;
    padding: 8rem;
}

.list__head{
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.list__head__item{
    width: 100%;
    display: flex;
    justify-content: center;
}

.list__body{
    flex-direction: row;
    width: 100%;
    height: 50%;
    
}

.list__body__items{
    height: 100%;
    width: 100%;
}

.list__body__item{
    width: 100%;
    height: 100%;
    background-color: #5c5b5bd8;
    border: 1px solid #2c1904;
    font-size: 1.5em;
    font-weight: bold;
}

.list__body__item:hover{
    box-shadow: 0px 0px 0px 2px black;
    background-color: #857764e5;
    cursor: pointer;

    
}


.vanilla{
    color: rgb(226, 100, 121);
}


.framework{
    color: rgb(224, 127, 71);
}

.css{
    color: rgb(218, 192, 45);
}
/* list */

/* list media */

@media (max-width:1024px){
    .list{
    font-size: 0.8em;
    }
}
@media (max-width:750px){
    .list__head{
    font-size: 0.8em;
    }
    .list__body{
        font-size: 0.9em;
    }
}
@media (max-width:600px){
    
    .list{
        display: flex;
        width: 90%;
        align-items: center;
    }
    .list__head__container{
        justify-content: center;
        width: 80%;
        font-size: 1.5em;
    }

    .list__body__items{
        width: 26.7%;
        justify-content: center;
    }

    .list__body__item{
        width: 100%;
        height: 70%;
        padding: 0 15rem;
        font-size: 1em;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:400px){
    .list{
        font-size: 0.7em;
        
    }
}

@media (max-width:320px){
    .list{
        width: 100%;
    }
    .list__head__container{
        width: 90%;
    }
    .list__head{
        font-size: 0.8em;
    }
    .list__body__items{
        width: 30%;
    }
}

.pressed{
    text-decoration: line-through;
    color: #727272;
    background-color: #b8b8b8ab;
}
/* list media */














/* form */

/* ================ */
/* table
.table__hero{
    width: 100%;
}


.table__container{
    display: flex;
    justify-content: center;
    width: 60%;
    border: none;
    background-color: aliceblue;
    margin-top: 15vh;
    font-size: 1.1em;
    font-weight: bold;

}

.table {
    width: 100%;
    height: 50vh;
}

.table__head{
    background-color: rgba(255, 247, 232, 0.699);
    font-size: 1.4em;


}

tbody{
    background-color: rgb(243, 217, 162);
    color: #5a4517;
    text-align: center;
}

.tbody__row{
    height: 10%
}


a:hover{
    color: rgb(62, 146, 202);
    }
 */

/* table */

/* 


.table__column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1rem solid black;
    text-align: center;
}
.table__column h1 {
    border-bottom: 1rem solid black;
    text-align: center;
    font-weight: 600;
}

.table__column__items{
    display: flex;
    flex-direction: column;
}

 */

