/* 
#242582
#553D67
#F64C72
#99738E
#2F2FA2
 */
 html{
     height: 100%;
 }
body{
    height: 100%;
    background: url(/images/jessica-lewis-fJXv46LT7Xk-unsplash.jpg) center/cover no-repeat;
    background-color: #2c2108;
    vertical-align: middle;
    text-align: center;
    
}

/* shared */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.half__size{
    width: 50%;
    height: 50%;
}

.full__size{
    height: 100%;
    width: 100%;
}




/* all */


/* header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #353535;
    height: 15vh;
    color: rgb(155, 154, 146);
}

.header__container{
    display: flex;
    flex-direction: column;
}

.header__title{
    font-size: 1.8em;
    color: beige;
}
/* header */

/* ============================= */



/* todolist */

@media all and (min-width:320px){

    .todo-list{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin: 2vh 2vw;
    }   
    
    .todo-list ul{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        background-color: rgb(189, 142, 32);
        font-size: 0.9em;
        
    }
    
    .todo-list ul h2{
        padding: 8rem 0;
    }
    
    ul li{
        background-color: rgba(241, 205, 158, 0.863);
        flex-grow: 1;
        padding: 5rem 5rem;
    }
    
    ul li:hover{
        cursor: pointer;
        
    }
    
    li i{
        padding: 5rem;
        color: red;;
    }
    
    li .trash{
        width: 1em;
        height: 1.2em;
        content: url(/icon/Trash-icon.png);
        
    }
    
    
}

@media all and (min-width:480px){
    .todo-list ul{
        font-size: 1em;
    }
    
}