@import "./variables";
@import "./resets/normalize";
@import "./resets/reset.local";
@import "./resets/typography";
@import "./mixin";


html{
    min-height: 100%;
}
body{
    min-height: 100vh;
}
.mainContainer{
    min-height: 84vh;
}
.main{
    height: 84vh;
}



//todo list
.main__todoList{
    @include flexCenter(column);
    justify-content: flex-start;
    background-color: $white200;
    text-align: center;
    ul{
        text-align: center;
        padding:0.7em;
        border-radius: 0.2em;
        font-size: 1.5em;
        font-weight: bold;
        color: $darkPurple200;

        li{
            text-align: center;
            background-color: $darkPurple100;
            margin-top: 1em;
            padding: 0px 1em;
            font-weight: normal;
            color: $black400;
        }
    }
}




@media (min-width: $minScreenSize){
    header{
        @include flexCenter(column);
        color: rgb(218, 201, 221);
        font-size: 0.8em;
        height: 18%;
        .header__toggle{
            @include flexCenter(row);
            align-self: flex-end;
            margin: 15rem 5rem;
            margin-bottom: 0;
        }
        h1{
            font-size: 2.5em;
            padding-bottom: 3vh;
        }
        h2{
            padding: 2rem 8rem;
        }
        i{
            font-size: 1.8em;
            color : rgb(180, 139, 228);
        }
        i:hover{
            font-size: 1.85em;
            cursor: pointer;
        }
    } 
    .mainContainer{
        @include flexCenter(row);
    }
   
    
    .menu{
        @include flexCenter(column);
        align-self: stretch;
        justify-content: space-between;
        flex-grow: 1;
        h2{
            font-weight: bold;
            padding-top: 0.2em;
            font-size: 1.2em;

        }
        h6{
            padding: 1em 1em ;
            font-size: 0.8em;
            
        }
    }

    main{
        flex-grow: 3;
            .main__searchForm__input{
                width: 100%;
                text-align: center;
            }
        
       
    .main__todoForm{
        @include flexCenter(column);
        font-size: 1.2em;
        
        label{
            font-size: 1em;
            font-weight: bold;
            margin-top: 0.6em;
            
        }
        input{
            text-align: center;
            padding: 0.5rem 0;
            outline: none;
            border-radius: 0.1em;
            background-color: $nightBackground;
            box-shadow: 0px 6px 7px -7px $darkPurple100;
            font-weight: bold;

        }
        input:hover{
            box-shadow: 0px 6px 7px -6px $darkPurple100;

        }
       
        button{
            margin-bottom:  0.6em ;
            margin-top: 1em;
            padding: 0.6em;
            font-size: 0.7em;
            border-radius: 0.6em;
            outline: none;
        }
    }

    
}

@media (min-width: $phoneSize){
   form{
       input{
           width : 40vw;

       }
       select{
        width: 22vw;
       }
   
   button{
    width: 30vw;
   }
}
   
}

@media (min-width: $tabletSize){
    header{
        font-size: 1em;
    }
    form{
        input{
            width : 30vw;
        }
        select{
            width: 15vw;
           }
        button{
            width: 20vw;
           }
    }
    .todo-list{
        ul{
        width: 30vw;
        }
    }
    
}

@media (min-width: $laptop){
    form{
        input{
            width : 25vw;
        }
        select{
            width: 10vw;
           }
        button{
            width: 12.5vw;
           }
    }
}

@media (min-width: $desktop){
    form{
        input{
            width : 30vw;
        }
        select{
            width: 8vw;
           }
        button{
            width: 10vw;
           }
    }
}



.toggleOnDay{
    @include day;
}

.toggleOnNight{
    @include night;
    

}


}