.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    text-align: center;
    z-index: 2;
    position: fixed;
    background-color: hsl(150, 45%, 90%);
    color: hsl(0, 10%, 10%);
    border-radius: 0.7em;
    box-shadow: inset 0px 0px 0px 8px hsl(150, 25%, 60%);
    &-exit{
            align-self: flex-end;
            width: 9%;
            padding: 0.2em;
            padding-bottom: 0.2em;
            font-size: 1.6em;
            &:hover{
                transform: scale(1.1);
            }
    }
    
    &-title{
        text-align: center;
        background-color: hsl(140, 25%, 60%);
        opacity: 0.8;
        color: $black1;
        padding: 0.5em 0;
        margin-top: 1em;
        width: 100%;
        font-size: 1.4em;
        font-weight: bold;
}
&-form{
    @include perfectCenteringFlex(column);
    margin: 0.3em;
    width: 100%;
    font-size: 1.1em;
    padding: 0.3em 1em;
    &-input{
    outline: none;
    text-align: center;
    line-height: 1.8em;
    background-color: hsl(150, 15%, 50%);
    box-shadow: 0px 6px 6px -6px $black2;
    margin: 0.5em 0;
    &::placeholder{
        color: hsl(150, 45%, 90%);
    }
    &:focus{
       color: hsl(150,15%, 100%);
       font-size: 1.1em;
       filter: saturate(1.5);
       &::placeholder{
        color: hsl(150,15%, 100%);
    }

    }
}
    &-select{
        background-color: $black2;
        color: $white1;
        font-weight: bold;
        align-self: center;
        border-radius: 0.4em;
        padding-left: 0.6em;
        margin-top: 0.2em;
        &:focus{
        background-color: $black1;
        color: $white2;
    }
}
    
    &-submit{
        margin-top: 0.6em;
        padding: 0.4em;
        background-color: hsl(150,35%, 60%);
        width: 17%;
        color: $black2;
        &:hover{
        background-color: hsl(150,40%, 60%);
        }
    }
}
    &-question {
        font-size: 1.3em;
        font-weight: bold;
        margin: 0.7em;
    }
    &-answer{
                &-btn{
                    padding: 0.4em;
                    margin: 0.3em;
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.02);
                        filter: brightness(1.5);
                    }
                }
                .no{
                        background-color: hsl(0, 60%, 40%);
                        color: hsl(0, 20%, 5%);
                    }
                    .yes{
    background-color: hsl(80, 60%, 40%);
    color: hsl(80, 20%, 5%);
}
}

}

@media #{$break1}{
    .popup{  
    top:20%;
    left:7.5%;
    width: 85%;
    height: 45%;
    &-exit{
    font-size: 1.2em;
    width: 9%;
    }
    .popup-form-submit{
        width: 30%;
        }
    }
}
@media (max-width:500px){
    .edit-popup,.add-popup {
    top: 20%;
    left: 5%;
    height: 60%;
    width: 90%;
    }
}

@media (min-width:500px) and (max-width:765px){
    .edit-popup,.add-popup{
    top: 20%;
    left: 20%;
    height: 60%;
    width: 60%;
    }
}

@media #{$break2}{
    .edit-popup,.add-popup{
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    }
}

@media #{$break3}{
    .edit-popup,.add-popup{
    top: 20%;
    left: 35%;
    width: 30%;
    height: 60%;
    }
}

.blurBackground{
    filter: grayscale(40%)blur(2px)brightness(0.8);
}

.edit-popup{
    justify-content: flex-start;  
}

.delete-popup{
    height: 30%;
    width: 50%;
    top: 35%;
    left: 25%;
}

.first-popup{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    border-radius: 0;
    }

.add-popup{
    justify-content: flex-start;  
}
